* {
    color : white;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,.93),rgba(0,0,0,.93)), url("../data/bg-cover.png");
    background-size: cover;
    margin: 0px 10%;
}

hr {
    height:3px;
    background-color:rgb(156, 104, 156);
    border: 0;
}

header{
    display : flex;
    align-items: center;
    justify-content:space-between;
}
.logo {
    font-size : 30px;
    font-weight : 300;
}
nav {
    display: flex;
    flex : 1;
    text-align: right;
    justify-content: flex-end;

}
nav ul li {
    list-style: none;
    display : inline-block;
    position: relative;
}
nav ul li::after {
    content: '';
    height: 3px;
    width : 0;
    background: #009688;
    position:absolute;
    left: 0;
    bottom: -2px;
    transition: 0.6s;
}
nav ul li:hover::after {
    width : 90%;
}
nav ul li a {
    text-decoration: none;
    font-size : 15px;
    cursor : pointer;
    margin-right: 10px;
}
main {
    margin: 4%;
    min-height: calc(100vh - 250px); /* Makes sure the 'body' is stretched*/
    display: flex;
    justify-content: space-between;
}

#type-class, #section1, #section2 {
    width : 100%;
    color: black;
}

#cButton {
    background-color:rgb(156, 104, 156);
    border: none;
    width: 50%;
    padding: 2px 5px;
}

#vis-container {
    display : flex;
    flex-direction: row;
}

footer {
    display: flex;
    justify-content: center;
}